extends ../layout

block style 
    link(rel='stylesheet', type='text/css' href='/css/form.css')

block content
    if (true)
        <section>
           <div class="profile">
              <div class="row">
                 <div class="col-lg-12">
                    <p class="main_text">Профиль #{user.username} </p>
                    <p class="main_text">Публикации: </p>
                        <table>
                            <tr>
                                <td>Публикация</td>
                                <td>Опубликовано</td>
                                <td>Редактировать</td>
                                <td>Удалить</td>
                            </tr>
                            each post in posts
                                <tr>
                                    <td>
                                        a(href="/posts/" + post._id class="link") #{post.title}
                                    </td>
                                    <td>#{post['date']['day']} #{post['date']['month']} #{post['date']['year']}</td>
                                    <td>
                                        button(class="btn btn-info btnTable" disabled=!isOwner) Редактировать
                                    </td>
                                    <td>
                                        button(class="btn btn-danger btnTable" disabled=!isOwner) Удалить
                                    </td>
                                </tr>
                        </table>
                    <br>
                 </div>
              </div>
           </div>
        </section>
    else
        <div class="row">
           <div class="offset-lg-3 col-lg-6">
              <div class="error_form">
                 <p class="main_text">У вас нет прав на это! Обратитесь к администратору.</p>
                 <a href="/profile" class="btn btn-success">Назад</a>
              </div>
           </div>
        </div>

block script
    script(src="/js/editUserPermissions.js")