extends ../layout

block style
    link(rel='stylesheet', type='text/css' href='/css/form.css')

block content
    <div class="row">
        <div class="offset-lg-1 col-lg-10 inputBasket">Ваши заказы</div>
    </div>
    <section>
        <div class="row">
            <div class="offset-lg-1 col-lg-10">
                - let sum = 0
                each product, index in products
                    <div class="productBasket">
                        <img src="../images/products/kpi3.jpg" class="imgProductBasket">
                        <p class="description">#{product['name']}</p>
                        <hr>
                        <p class="description">Размер: #{product['size']}</p>
                        <p class="description">Цена: #{product['price']} ГРН</p>
                        <p class="description">Количество: #{qties[index]}</p>
                        <p class="description">Всего: #{product['price'] * qties[index]} ГРН</p>
                        <p><button class="btn btn-outline-success">РЕДАКТИРОВАТЬ</button></p>
                    </div>
                    - sum += product['price'] * qties[index]
            </div>
        </div>
    </section>
    <div class="row">
        <div class="offset-lg-1 col-lg-10">
            <p class="price">ВСЕГО: #{sum} ГРН</p>
            <button type="button" class="btn btn-warning btn-lg btn-block agreeOrder">ПОДТВЕРДИТЬ ЗАКАЗ</button>
        </div>
    </div>

