extends ../layout

block style
  link(rel='stylesheet', type='text/css' href='/css/form.css')
  link(rel='stylesheet', type='text/css' href='/css/pagination.css')

block content
  each post in posts
    <div class="container">
       <div class="row">
          <div class="offset-lg-2 col-lg-8">
             <div class="user_posts">
                a(href='/posts/post/' + post['_id'] class="title_text")=post['title']
                <hr>
                if post['imagePath']
                  img(src='../' + post['imagePath'])
                <p> #{post['text']} </p>
                <hr>
                <p class= "userName"> от #{post['user']['username']}</p>
                <p class="data" >Опубликовано: #{`${post['date'].day} ${post['date'].month} ${post['date'].year}`} в #{`${post['date'].hours}:${post['date'].minutes}`}</p>
             </div>
          </div>
       </div>
    </div>
  <div class="pagination">
    - var i = 1
    while i <= pages
      a(href="/posts/" + i)=i
      - i++
  </div>
