extends ../layout

block style
  link(rel='stylesheet', type='text/css' href='/css/form.css')

block content
  <section>
    <div class="row">
       <div class="offset-lg-2 col-lg-8">
          <div class="post">
            <p class="main_text">#{post['title']}</p>
            <hr>
            if post['imagePath']
              img(src=post['imagePath'] width="100%")
            <p>#{post['text']}</p>
            <hr>
            <p class="userName">#{post['user']['username']}</p>
            <p class="data">Опубликовано: #{`${post['date']['hours']}:${post['date']['minutes']}, ${post['date']['day']} ${post['date']['month']} ${post['date']['year']}`}</p>
            if(post.userId === userId)
              form(method='post')
                input(type='submit' name='edit' class ="btn btn-info" value='Редактировать')
                input(type='submit' name='delete' class ="btn btn-danger" value='Удалить')
          </div>
       </div>
    </div>
  </section>